#parse("header.html")
<link rel="stylesheet" href="../../styles/result.css">
<link rel="stylesheet" href="../../styles/detail.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <div class="zm-profile-section-wrap zm-profile-followee-page">
                <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        <a href="/user/${curUser.id}">${user.name}</a> 浏览记录
                    </span>
                    <a class="zg-right zg-link-litblue-normal zm-profile-answer-page-return" href="/user/${user.id}">返回个人主页</a>
                </div>
                <div class="zm-profile-section-list">
                    <div id="zh-profile-follows-list">
                        <div class="zh-general-list clearfix">
                            #foreach($vo in $records)
                            <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                                <div class="zg-right">
                                    <button class="zg-btn zg-btn-follow zm-rich-follow-btn small nth-0
                                    " onclick="deleteRecord($vo.id)">删除</button>
                                </div>
                                <div class="zm-list-content-medium" style="margin-left: 0px;">
                                    <div class="details zg-gray">
                                        在$data.format('yyyy-MM-dd HH:mm:ss', $!{vo.date})查看了
                                        #if($vo.entityType == "user")
                                        用户
                                        #end
                                        #if($vo.entityType == "content")
                                        文章
                                        #end
                                        #if($vo.entityType == "question")
                                        问题
                                        #end
                                    </div>
                                    #if($vo.entityType == "user")
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/user/${vo.entityId}" class="zg-link" title="Barty">${vo.entityTitle}</a></h2>
                                    #end
                                    #if($vo.entityType == "content")
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/content/${vo.entityId}" class="zg-link" title="Barty">${vo.entityTitle}</a></h2>
                                    #end
                                    #if($vo.entityType == "question")
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/question/${vo.entityId}" class="zg-link" title="Barty">${vo.entityTitle}</a></h2>
                                    #end
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/follow.js"></script>
<script>
    function deleteRecord(id) {
        $.post('/user/record/del', {'id':id},
            function (res) {
                location.reload();
            }, 'json'
        );
    }
</script>
#parse("footer.html")