#parse("header.html")
<link rel="stylesheet" href="../../styles/result.css">
<link rel="stylesheet" href="../../styles/detail.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <div class="zu-main-content">
                <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        筛选：
                    </span>
                    <a class="zg-link-litblue-normal zm-profile-answer-page-return" href="/search/?q=${keyword}" style="margin-right: 8px">全部</a>
                    <a class="zg-link-litblue-normal zm-profile-answer-page-return" href="/search/question?q=${keyword}" style="margin-right: 8px">问题</a>
                    <a class="zg-link-litblue-normal zm-profile-answer-page-return" href="/search/content?q=${keyword}" style="margin-right: 8px">内容</a>
                    <a class="zg-link-litblue-normal zm-profile-answer-page-return" href="/search/user?q=${keyword}" style="margin-right: 8px">用户</a>
                </div>
                <div class="zu-main-content-inner zm-profile-section-list">
                    <div id="zh-profile-follows-list">
                        <div class="zh-general-list clearfix">
                            #foreach($vo in $vos)
                            <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                                <div class="zm-list-content-medium" style="margin-left: 0px;">
                                    <div class="details zg-gray">
                                        #if($vo.entityType == "content" && "article" == $vo.contentType)
                                        文章
                                        #end
                                        #if($vo.entityType == "content" && "answer" == $vo.contentType)
                                        回答
                                        #end
                                        #if($vo.entityType == "question")
                                        问题
                                        #end
                                        #if($vo.entityType == "user")
                                        用户
                                        #end
                                    </div>
                                    #if($vo.entityType == "content" && "article" == $vo.contentType)
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/user/${vo.entityId}" class="zg-link" title="Barty">${vo.entityTitle}</a></h2>
                                    #end
                                    #if($vo.entityType == "content" && "answer" == $vo.contentType)
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/content/${vo.id}" class="zg-link" title="Barty">${vo.content}</a></h2>
                                    <a data-tip="p$t$buaabarty" href="/question/${vo.id}" class="zg-link" title="Barty">${vo.entityTitle}</a>
                                    #end
                                    #if($vo.entityType == "question")
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/content/${vo.id}" class="zg-link" title="Barty">${vo.entityTitle}</a></h2>
                                    #end
                                    #if($vo.entityType == "user")
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/user/${vo.id}" class="zg-link" title="Barty">${vo.entityTitle}</a></h2>
                                    #end
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/follow.js"></script>
<script>
    function deleteRecord(id) {
        $.post('/user/record/del', {'id':id},
            function (res) {
                location.reload();
            }, 'json'
        );
    }
</script>
#parse("footer.html")