<a target="_self" class="post-link" href="/content/${vo.content.id}">$vo.content.title</a></h2>
<div class="entry-body post-body js-collapse-body">
    <div class="zm-item-vote">
        <a class="zm-item-vote-count js-expand js-vote-count" href="#" data-bind-votecount="">$vo.userFanCnt</a></div>
    <div class="author-info">
        <a href="https://nowcoder.com/people/zhao-yong-feng" data-tip="p$t$zhao-yong-feng" class="name">$vo.user.name</a>，$vo.user.description</div>
    </div>
    <div class="post-content" >
        <div class="zh-summary summary clearfix">
            <span class="text-brief" id="content${vo.content.id}">$vo.content.content</span>
            <span class="toggle-expand">显示全部</span>
        </div>
    </div>
</div>