.collect-select a{
    margin-left: 5px;
}

.dis-follow {
    background: darkgray;
    border: 1px solid darkgray;
}

.comment-container {
    border: 1px solid #ebebeb;
    background: #fff;
    margin-top: 12px;
    overflow: visible;
    border-radius: 4px;
}

.comment-head {
    padding: 12px 20px;
    background: #fff;
    border-top: 1px solid #ebebeb;
}

.text-brief {

}

.text-full {

}

.toggle-expand-right {
    float: right;
}

span.toggle-expand {
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
    font-size: .9em;
    color: #25bb9b;
}

.msg-num {
    position: absolute;
    top: 0;
    left: 0;
    background: #e84a4a;
    color: #FFF;
    border-radius: 50px;
    line-height: 16px;
    min-height: 16px;
    outline: medium none;
    padding: 0 4px;
    text-align: center;
    z-index: 10;
}